body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #add8e6; /* Medium Light Blue */
}

.counter-container {
    text-align: center;
    margin: 40px;
}

.counter-container i {
    display: block;
    margin: 0 auto;
    color: #4682b4; /* Steel Blue color for icons */
    font-size: 3em; /* Increased icon size */
}

.counter {
    font-size: 2em;
    font-weight: bold;
    color: #333; /* Dark Text Color */
}

span {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

/* Add some additional styling for a better look */
.counter-container:hover {
    transform: scale(1.05); /* Scale on hover for a subtle effect */
    transition: transform 0.3s ease-in-out;
}
