body {
    background-color: #ffdab9; /* Peach background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#tempCalc {
    background-color: #ffffff; /* White box background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Slightly increased shadow */
    text-align: center;
}

input[type="number"], select {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff6347; /* Tomato red button color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

input[type="submit"]:hover {
    background-color: #d43f28; /* Darker red on hover */
}

#resultContainer {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333; /* Dark text color for result */
}
