/* External CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Light blue background color */
}

.outer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-heading {
    font-size: 4em; /* Increase the font size of h1 to make it even bigger */
}

#temp {
    font-size: 4em; /* Increase the font size of the thermometer */
    margin-left: 10px; /* Adjust the margin to create space between the text and icon */
}
